<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>小马零花钱</title>

    <!--QQ发送链接显示的预览图-->
    <meta name="description" itemprop="description" content="按要求下载体验App,1小时大概能赚20元"/>
    <meta itemprop="name" content="小马零花钱"/>
    <meta itemprop="image" content="/images/smallHorseQQ.png"/>

    <!--添加到主屏幕-->
    <link rel="apple-touch-icon" href="../images/icon.png">

    <meta name="apple-mobile-web-app-title" content="小马零花钱">

    <!-- compiled css output -->
    <link href="/stylesheets/ionic.app.css" rel="stylesheet">
    <link href="/stylesheets/app.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!--<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/javascripts/vendor/jqueryFileUploader/js/jquery.qrcode.js"></script>-->
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="/ionic/release/js/ionic.bundle.js"></script>
    <script src="/ionic/release/js/ionic-angular.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->
    <script src="/javascripts/vendor/AngularJS/angular-file-upload.min.js"></script>

    <script src="/javascripts/cookieHelper.min.js"></script>
    <!-- your app's js -->
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/services.js"></script>

    <script src="ios9patch/script.js"></script>
    <script src="ionicfilterbar/dist/ionic.filter.bar.js"></script>
    <script src="ionicgallery/dist/ion-gallery.js"></script>
    <script src="ionic-scroll-sista/dist/ionic.scroll.sista.js"></script>
    <script src="ion-affix-master/ion-affix.js"></script>

    <script type="text/javascript" src="/javascripts/mdialog.js"></script>
    <link href="/stylesheets/mdialog.css" rel="stylesheet">

    <!--semantic ui css-->
    <!--<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">-->
    <!--js 和 dialog 冲突-->
    <!--<script src="/semantic/dist/semantic.min.js"></script>-->

    <link href="/javascripts/vendor/toastr/toastr.css" rel="stylesheet"/>
    <script src="/javascripts/vendor/toastr/toastr.js"></script>

</head>
<body ng-app="starter">
<!--
  The nav bar that will be updated as we navigate between views.
-->
<!--<ion-nav-bar class="bar-dark bar-color-light">-->
    <!--<ion-nav-back-button>-->
        <!--返回-->
    <!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->
<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-nav-view></ion-nav-view>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
