<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>野马运营</title>
    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--semantic ui css-->
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <!--js 和 dialog 冲突-->
    <script src="/semantic/dist/semantic.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="/stylesheets/taskCheck.css">
    <link rel="stylesheet" href="../stylesheets/loading.css">

    <!--网站内部js-->



    <!--<script src="/javascripts/doTask.js"></script>-->
    <script src="/javascripts/asoEffect.js"></script>
    <script src="/javascripts/indexApp.js"></script>

    <!--网站内部css-->
    <!--<link rel="stylesheet" href="/stylesheets/taskCheck.css"/>-->

    <!--toast-->
    <link href="/javascripts/vendor/toastr/toastr.css" rel="stylesheet"/>
    <script src="/javascripts/vendor/toastr/toastr.js"></script>


</head>
<body ng-app="yemaWebApp">


<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->

<!--导航栏-->
<div class="container" ng-controller="indexAppCtrl" >
    <th-nav></th-nav>
</div>

<div ng-controller="asoEffectCtrl">

    <div style="margin-left: 50px; margin-top: 70px;margin-bottom: 20px;margin-right: 50px">
        <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">
                为你制定发给老板的报表
            </div>
            <ul class="list">
                <li>实时统计您每天做的任务数目(限成功)</li>
                <li>你的APP的某个关键词XX每天成功完成了任务</li>
                <li>XX这个关键词的排名变化情况</li>
                <li>App的下载量变化情况(需要共享Appstore帐号,开发中)</li>
            </ul>
        </div>

        <div class="ui orange message">
            <i class="star icon"></i>
            更好的追踪您的选词优化效果
        </div>
    </div>

    <div class="ui pointing menu" >
        <a ng-click="loadTaskByApp('all')" ng-class="{true :'item active', false :'item'}[menuIndex == -1]">
            <i class="cubes icon"></i>
            查看全部野马用户的ASO投放效果分析
        </a>
        <a ng-click="loadTaskByApp(app.appObjectId, $index)"
           ng-class="{true :'item active', false :'item'}[menuIndex == $index]"
           ng-repeat="app in myApps | limitTo:20" id="all" >
            <img class="ui avatar image" ng-src="{{app.artworkUrl100}}">
            <!--<span>{{app.trackName | limitTo:4}}</span>-->
        </a>

        <div ng-if="myApps.length > 20" class="ui right dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" ng-click="loadTaskByApp(app.appObjectId, $index + 20)" ng-repeat="app in myApps| startFrom:20">
                    <img class="ui avatar image" ng-src="{{app.artworkUrl100}}">
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px;margin-bottom: 50px">
        <div class="spinner" ng-hide="!isLoadingMyApp">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div style="width:400px;margin: auto;font-size: 24px;margin-bottom: 100px" ng-hide="!isLoadingMyApp">正在请求你所发布任务的最新信息...</div>

        <div ng-show="!isLoadingMyApp && taskAudit.length == 0">
            <div style="text-align: center;">
                <img style="margin-top: 100px;" src="../images/horse.png">
            </div>
            <h1 style="text-align:center;">亲, 你还没有发布任何任务哦, 赶紧去"<a href="myapp">发布任务</a>"试试吧</h1>
        </div>

        <!--
                <div class="container-fluid"  ng-if="taskTimeList.length > 0">

                    <div class="row">
                        <div class="col-xs-2" style="padding-top:23px; padding-left:0; padding-right:0; " >
                            <div class="ui secondary vertical pointing menu" ng-repeat="time in taskTimeList">
                                <a ng-class="{true :'item active', false :'item'}[$index == taskIndex]"
                                   ng-click="selectedDate($index)">
                                    {{time.releaseDate | date:"yyyy-MM-dd"}}

                                    <div ng-if="time.totalUploaded != undefined && time.totalUploaded > 0" class="ui teal left pointing label">{{time.totalUploaded}}</div>
                                </a>
                            </div>

                        </div>&lt;!&ndash;左边侧边栏&ndash;&gt;

                        <div class="col-xs-10">
                            <div>
                                <div>
                                    <table class="ui striped celled fixed single line table">
                                        <thead>
                                            <tr>
                                                <th class="taskTitle-info-two" style="width: 10px;"></th>
                                                <th class="taskTitle-info-one" style="width: 90px; height: 60px">App</th>
                                                <th class="taskTitle-info-two hidden-sm hidden-md" style="width: 40px">类型</th>
                                                <th class="taskTitle-info-two hidden-sm hidden-md" style="width: 60px;">关键词</th>
                                                <th class="taskTitle-info-two hidden-sm hidden-md" style="width: 60px">发布时间</th>
                                                <th class="taskTitle-info-two" style="width: 50px">进度</th>
                                                <th class="taskTitle-info-two" style="width: 45px">任务状态</th>
                                                <th class="taskTitle-info-two" style="width: 40px">待审</th>
                                                <th class="taskTitle-info-two" style="width: 40px">未交</th>
                                                <th class="taskTitle-info-two" style="width: 40px">拒绝</th>
                                                <th class="taskTitle-info-two" style="width: 30px">通过</th>
                                                <th class="taskTitle-info-two" style="width: 30px">过期</th>
                                                <th class="taskTitle-info-two" style="width: 90px; height: 60px">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        &lt;!&ndash;ng-class="{true:'disabled', false:''}[task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted >= task.excCount]"&ndash;&gt;
                                            <tr ng-class="{true:'positive', false:''}[task.remainCount > 0]" ng-repeat="task in selectTimeTask.tasks">
                                                <td class="hidden-sm hidden-md" style="">{{$index + 1}}</td>

                                                <td>
                                                    <img class="ui avatar image" ng-src="{{task.artworkUrl100 }}">
                                                    <span>{{task.trackName}}</span>
                                                </td>

                                                <td class="hidden-sm hidden-md" style="margin-left: 25px;">{{task.taskType}}</td>
                                                <td class="hidden-sm hidden-md" style="margin-left: 25px;">{{task.searchKeyword}}</td>
                                                <td  class="hidden-sm hidden-md" style="margin-left: 25px;">{{task.createdAt | date:"h:mma"}}</td>
                                                <td style="margin-left: 45px;">{{task.excCount - task.remainCount}}/{{task.excCount}}</td>

                                                <td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>
                                                <td class="task-state" ng-if='task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted != task.excCount && task.cancelled == true' style="color:#f4995d">
                                                    已撤销
                                                </td>

                                                <td class="task-state" ng-if='task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted >= task.excCount && task.cancelled != true' style="color: #999999">
                                                    已完成
                                                </td>
                                                <td class="task-state" ng-if='task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted < task.excCount && task.cancelled == false'>
                                                    进行中
                                                </td>

                                                <td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>
                                                <td ng-if='task.taskOverview != undefined' ng-class="{true:'warning', false:''}[task.taskOverview.totalSubmited > 0]">
                                                    <i ng-if="task.taskOverview.totalSubmited > 0" class="attention icon"></i>
                                                    {{task.taskOverview.totalSubmited}}
                                                </td>

                                                &lt;!&ndash;<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>&ndash;&gt;
                                                <td ng-if='task.taskOverview != undefined' class="task-info-a">
                                                    {{task.taskOverview.totalUndo}}</td>

                                                &lt;!&ndash;<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>&ndash;&gt;
                                                <td ng-if='task.taskOverview != undefined' class="task-info-a">{{task.taskOverview.totalRejected}}</td>

                                                &lt;!&ndash;<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>&ndash;&gt;
                                                <td class="task-info-a">{{task.taskOverview.totalAccepted}}</td>

                                                &lt;!&ndash;<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>&ndash;&gt;
                                                <td ng-if='task.taskOverview != undefined' class="task-info-a">{{task.taskOverview.totalTimeout}}</td>
                                                <td>
                                                    <div class="ui buttons">
                                                        <button class="ui positive button" ng-click="lookCheck(task.taskId)">查看</button>
                                                        <div class="or"></div>
                                                        <button ng-class="{true :'ui disabled button', false :'ui button'}[task.cancelled == true]"
                                                                ng-click="confirmCancel(task.taskId)">撤销</button>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                    &lt;!&ndash;<div class="spinner" ng-if="selectTimeTask.isLoading == true">&ndash;&gt;
                                        &lt;!&ndash;<div class="double-bounce1"></div>&ndash;&gt;
                                        &lt;!&ndash;<div class="double-bounce2"></div>&ndash;&gt;
                                    &lt;!&ndash;</div>&ndash;&gt;
                                </div>

                            </div>
                        </div>&lt;!&ndash;右边侧边栏&ndash;&gt;
                    </div>
                </div>
        -->

    </div>

    <!-- /excise/-->

    <div class="ui grid" ng-if="taskTimeList.length > 0" style="margin-top: -44px;">
        <div class="two wide column" style="margin-left: 27px;">
            <div class="ui vertical fluid tabular menu" ng-repeat="time in taskTimeList">
                <a ng-class="{true :'item active', false :'item'}[$index == taskIndex]"
                   ng-click="selectedDate($index)">
                    {{time.releaseDate | date:"yyyy-MM-dd"}}

                    <div ng-if="time.totalUploaded != undefined && time.totalUploaded > 0" class="ui teal left pointing label">{{time.totalUploaded}}</div>
                </a>
            </div>
        </div>
        <div class="thirteen wide stretched column">
            <div class="ui segment">   <table class="ui striped celled fixed single line table">
                <thead>
                <tr>
                    <th class="taskTitle-info-two" style="width: 10px;"></th>
                    <th class="taskTitle-info-one" style="width: 90px; height: 60px">App</th>
                    <th class="taskTitle-info-two hidden-sm hidden-md" style="width: 40px">类型</th>
                    <th class="taskTitle-info-two hidden-sm hidden-md" style="width: 60px;">关键词</th>
                    <th class="taskTitle-info-two hidden-sm hidden-md" style="width: 60px">发布时间</th>
                    <th class="taskTitle-info-two" style="width: 50px">进度</th>
                    <th class="taskTitle-info-two" style="width: 45px">任务状态</th>
                    <th class="taskTitle-info-two" style="width: 40px">待审</th>
                    <th class="taskTitle-info-two" style="width: 40px">未交</th>
                    <th class="taskTitle-info-two" style="width: 40px">拒绝</th>
                    <th class="taskTitle-info-two" style="width: 30px">通过</th>
                    <th class="taskTitle-info-two" style="width: 30px">过期</th>
                    <th class="taskTitle-info-two" style="width: 90px; height: 60px">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--ng-class="{true:'disabled', false:''}[task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted >= task.excCount]"-->
                <tr ng-class="{true:'positive', false:''}[task.remainCount > 0]" ng-repeat="task in selectTimeTask.tasks">
                    <td class="hidden-sm hidden-md" style="">{{$index + 1}}</td>

                    <td>
                        <img class="ui avatar image" ng-src="{{task.artworkUrl100 }}">
                        <span>{{task.trackName}}</span>
                    </td>

                    <td class="hidden-sm hidden-md" style="margin-left: 25px;">{{task.taskType}}</td>
                    <td class="hidden-sm hidden-md" style="margin-left: 25px;">{{task.searchKeyword}}</td>
                    <td  class="hidden-sm hidden-md" style="margin-left: 25px;">{{task.createdAt | date:"h:mma"}}</td>
                    <td style="margin-left: 45px;">{{task.excCount - task.remainCount}}/{{task.excCount}}</td>

                    <td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>
                    <td class="task-state" ng-if='task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted != task.excCount && task.cancelled == true' style="color:#f4995d">
                        已撤销
                    </td>

                    <td class="task-state" ng-if='task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted >= task.excCount' style="color: #999999">
                        已完成
                    </td>
                    <td class="task-state" ng-if='task.taskOverview != undefined && task.taskOverview.totalTimeout + task.taskOverview.totalAccepted < task.excCount && task.cancelled == false'>
                        进行中
                    </td>

                    <td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>
                    <td ng-if='task.taskOverview != undefined' ng-class="{true:'warning', false:''}[task.taskOverview.totalSubmited > 0]">
                        <i ng-if="task.taskOverview.totalSubmited > 0" class="attention icon"></i>
                        {{task.taskOverview.totalSubmited}}
                    </td>

                    <!--<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>-->
                    <td ng-if='task.taskOverview != undefined' class="task-info-a">
                        {{task.taskOverview.totalUndo}}</td>

                    <!--<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>-->
                    <td ng-if='task.taskOverview != undefined' class="task-info-a">{{task.taskOverview.totalRejected}}</td>

                    <!--<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>-->
                    <td class="task-info-a">{{task.taskOverview.totalAccepted}}</td>

                    <!--<td ng-if='task.taskOverview == undefined' class="ui active centered inline loader"></td>-->
                    <td ng-if='task.taskOverview != undefined' class="task-info-a">{{task.taskOverview.totalTimeout}}</td>
                    <td>
                        <div class="ui buttons">
                            <button class="ui positive button" ng-click="lookCheck(task.taskId)">查看</button>
                            <div class="or"></div>
                            <button ng-class="{true :'ui disabled button', false :'ui button'}[task.cancelled == true]"
                                    ng-click="confirmCancel(task.taskId)">撤销</button>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table> </div>
        </div>
    </div>




</div>

<th-footer>

</th-footer>



<script src="/javascripts/cookieHelper.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $('.ui.dropdown')
            .dropdown()
    ;
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>

