<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>野马运营</title>
    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/userProtocol.min.css">



    <!--网站内部js-->
    <script src="/javascripts/userProtocol.min.js"></script>
    <script src="/javascripts/indexApp.min.js"></script>

</head>
<body ng-app="yemaWebApp">
<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>


<div class="content">
    <main class="main">
        <div class="col-xs-12 service-agreement-title">
            <h1 class="text-center ">联系我们</h1>

        </div>
        <hgroup class="service-agreement-detials">
            <section>
                <strong style="font-size: 30px">一、合作询问</strong>
                <ul style="list-style: none">
                    <li style="font-size: 20px"> 欢迎有任何合作意向的朋友，与我们取得联系。我们很高兴能结识您，一起创造更多机会。
                    <li style="font-size: 20px">邮箱：contact@33day.net</li>
                    <li style="font-size: 20px">QQ：768826903</li>
                    <li style="font-size: 20px">联系电话：18762631397</li>
                    <li style="font-size: 20px">公司地址：无锡市滨湖区锦溪路100号530创业园19-405室上熙联合科技</li>

                </ul>
            </section>

            <section>
                <strong style="font-size: 30px">二、媒体询问</strong>
                <ul class=" " style="list-style: none">
                    <li style="font-size: 20px">  我们乐意为各界媒体提供APP推广方面的文章与市场数据，如果您有需求，请与我们取得联系。
                    <li style="font-size: 20px">邮箱：pr@33day.net</li>

                    </li>
                </ul>
            </section>


            <section>
                <strong style="font-size: 30px">三、意见反馈</strong>
                <ul style="list-style: none">
                    <li style="font-size: 20px">如果您遇到任何的浏览问题，数据疑问，或者对于平台操作有任何不解，请联系我们，我们很乐意为您解答。
                    </li>
                    <li style="font-size: 20px">
                        邮箱：help@33day.net。
                    </li >
                    <li style="font-size: 20px">我们可以为您提供一下职位：1、ASO分析师；2、数据分析师；3销售精英。
                    </li>


                </ul>
            </section>



            <!--<div style="clear:both"></div>-->
        </hgroup>
    </main>

</div>
<th-footer>

</th-footer>
<script src="/javascripts/cookieHelper.min.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>