<div  class="footer col-lg-12" style="height:264px;background-color: #1c1f20;margin: 0px;padding: 0px">
    <div  id="btn" style="width:50px;height: 50px;background-color: #3498db;position: absolute;right: 20px;
    text-align:center;bottom:200px;padding: 10px 10px;border-radius: 8px">
        <img src="/images/doTask/backtop.png" alt="">
    </div>
    <div class="row">
    <div class="col-lg-3 col-lg-offset-2" style="margin-left:120px">
        <img src="/images/home/logo1.png" alt=""style="margin-top: 30px">
        <p style="margin-top: 16px;font-size: 13px;color: #a1a6ac">
            <span><a href="/guide" style="color: #a1a6ac">新手引导</a></span>
            <span style="margin-left: 14px;">|</span>
            <span><a href="/contactUs" style="color: #a1a6ac">联系我们</a></span>
            <span style="margin-left: 14px;">|</span>
            <span><a href="/userProtocol"style="color: #a1a6ac">服务协议</a></span>
        </p>

        <p style="margin-top: 28px;font-size: 16px;color: #d0d3d8">商务合作: contact@33day.net</p>
        <p style="margin-top: 16px;font-size: 16px;color: #d0d3d8">建议反馈: help@33day.net</p>
    </div>
    <div class="col-lg-4"style="margin-left: 50px">
        <p style="margin-top: 30px;font-size: 18px;color: #FFFFFF;">关于我们</p>
        <p style="font-size: 13px;color: #d0d3d8">野马是一个为移动互联网中小型企业提供APP资源置换的</p>
        <p style="font-size: 13px;color: #d0d3d8">平台型工具。我们提供苹果官方APPstore的数据,并希望</p>
        <p style="font-size: 13px;color: #d0d3d8">通过我们的平台,可以帮助更多APP开发团队更加高效的</p>
        <p style="font-size: 13px;color: #d0d3d8">推广APP。</p>
    </div>
    <div class="col-lg-3" style="padding-left:70px">
        <img src="/images/home/code.jpg" alt="" style="width: 120px;height:120px;margin-top:38px;margin-left:10px;border: 1px solid white">
        <p style="color: #ffffff;margin-top: 20px;">扫码关注微信公众平台</p>
    </div>

</div>
    <div class="row">
        <div class="" style="font-size: 16px;color: #d0d3d8;position: absolute;bottom: 10px; left: 352px;">
            @2015-2016 yema.leanapp.cn,上熙联合科技有限公司,All Right Reserved
            <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" style="color: white;" target="_blank">苏ICP备16039262号</a>

        </div>


            <!--@2015-2016 yema.leanapp.cn,上熙联合科技有限公司,All Right Reserved-->


    </div>

</div> <!--footer标注-->














