<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/javascripts/userAngular.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../stylesheets/register.min.css">

    <title>重置密码界面</title>
</head>
<body>
<div class="container content">
    <div ng-app="userAccountApp" ng-controller="userAccountCtrl">
        <div class="register-content ">
            <div class="register-main">
                <img class="wildhorse" src="/images/home/forgetpassword.png">
                <h2 class="password-title">重置你的密码</h2>
                <p class="solid-subheading"></p>
                <div class="register-input-group">
                    <p class="input-title">输入注册手机：</p>
                    <div class="input-fill">
                        <input type="text" ng-model="userMobile" class="phone-input" autofocus="true">
                    </div>
                </div>

                <div class="register-input-group">
                    <p class="input-title">填写验证码：</p>
                    <div class="input-fill">
                        <input type="text" ng-model="newSmsCode" class="signup ">
                        <button type="button" id="button1" ng-click="getNewSmsCode()" class="btn btn-primary">重获验证码</button>
                    </div>
                </div>

                <div class="register-input-group">
                    <p class="input-title">新密码：</p>
                    <div class="input-fill">
                        <input type="password" ng-model="usernewSecret" class="phone-input">
                    </div>
                </div>

                <div class="register-sub text-center">
                    <button class="btn btn-org-empty" ng-click="newSecret()" id="register-btn">重置密码</button>
                </div>

                <div class="pro">
                    <div class="agree text-center">
                        <div class="secrecy"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>