<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>野马运营</title>
    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/userProtocol.min.css">



    <!--网站内部js-->
    <script src="/javascripts/userProtocol.min.js"></script>
    <script src="/javascripts/indexApp.min.js"></script>

</head>
<body ng-app="yemaWebApp">
<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>

<div class="content" style="margin-top: 30px">
    <main class="main">
        <div class="col-xs-12 service-agreement-title">
            <h1 class="text-center " style="margin-top: 50px;margin-bottom: 20px">野马新手引导</h1>
            <img class='foo' src="/images/doTask/newimg.png" style=" width:100%;margin-top:30px"/>
            <hr>
        </div>
        <hgroup class="service-agreement-detials">
            <section>
                <strong style="font-size: 24px">一、野马网站是做什么用的？</strong>
                <ul style="list-style: none;">
                    <li style="font-size: 20px"> 野马网站是专门针对移动APP运营人员定制的运营推广网站，我们希望可以帮助APP运营人员可以高效快速的进行换评换下载的日常推广工作。后期，我们还将新增更多功能以帮助APP运营更好的推广自己的APP。</li>
                </ul>
            </section>

            <section>
                <strong style="font-size: 24px">二、在野马上怎么发布任务？</strong>
                <video style='margin-top:40px;width: 960px;height: 500px' src="http://ac-rbmsnntf.clouddn.com/bc69b57b7f607235.mp4" controls="controls" preload>
                    您的浏览器不支持 video 标签。
                </video>
            </section>

            <section>
                <strong style="font-size: 24px">三、在野马上怎么做任务？</strong>
                <video style='margin-top:40px;width: 960px;height: 500px' src="http://ac-rbmsnntf.clouddn.com/66be21f9e807c500.mp4" controls="controls" preload>
                    您的浏览器不支持 video 标签。
                </video>
            </section>

            <section>
                <strong style="font-size: 24px">四、野马的功能体系是如何实现的?</strong>
                <ul  style="list-style: none">
                    <li style="font-size: 20px">野马功能体系的核心在于以任务为载体，引入积分货币体系来完成换评和换下载的任务。比如，您可以花费600积分在发布任务界面发布一个20条评论的任务。同时，您也可以在任务大厅中完成别人发布的任务把600积分赚回来。
                </ul>
            </section>

            <section>
                <strong style="font-size: 24px">五、野马的积分从何处获取？ </strong>
                <ul style="list-style: none">
                    <li style="font-size: 20px"> 野马的积分名称为“Y币”，成功注册的用户都可以免费的获得一定数量的Y币作为初始流动资金。也可在任务大厅中完成任务，赚取Y币。网站还会不定期地发放红利Y币。如果还不够，请关注野马微信公众号：野马ASO，联系客服！
                    </li>

                </ul>
            </section>

            <section>
                <strong style="font-size: 24px">六、如何提交任务结果？</strong>
                <ol>
                    <li style="font-size: 20px;list-style: none">  您每天领取的APP任务将收集在我的认领中。野马的任务结果均以手机截图的形式展现。您可以将当日我的认领网址通过QQ或微信发给需要完成任务的手机，通过手机直接上传任务截图。</li>


                </ol>
            </section>
            <section>
                <strong style="font-size: 24px">七、任务结果如何审核？</strong>
                <ol>
                    <li style="font-size: 20px;list-style: none">  他人提交的结果您可以在任务审核中进行审核。当您接收了某条提交结果，对方将获得此条任务的Y币。对于不符合要求的任务结果，您可以拒绝接受，等待对方重新提交截图。</li>


                </ol>
            </section>



            <section>
                <strong style="font-size: 24px;list-style: none">八、其它使用问题</strong>
                <ol>
                    <li style="font-size: 20px;list-style: none;color: red"> 1）最多可以发布多少个APP的任务？
                       <ul>
                           <li style="font-size:18px;list-style: none">答：在发布任务界面中，最多保存5个任务APP。如果超过5个任务APP时，需要先解绑，再添加。每个APP任务需求保存后，下次发布同样APP的任务时，任务要求不需重新填写。最多同时发布2个没有被领取完的任务。</li>
                       </ul>
                    </li>


                    <li style="font-size: 20px;list-style: none;color: red"> 2）我的任务薪酬是否可以自主定价？
                        <ul>
                            <li style="font-size:18px;list-style: none">答：为了体现平等互换的原则，所有的评论和下载任务均由野马定价。评论任务：30Y币／条；下载任务20Y币／条。若开放自主定价，我们将及时通知用户。</li>
                        </ul>
                    </li>

                    <li style="font-size: 20px;list-style: none;color: red"> 3) 我发布的任务是否可以更改？
                        <ul>
                            <li style="font-size:18px;list-style: none">答：任务一旦发布便不可做更改，但您可以在任务审核中撤销剩余任务，只是撤销任务前其它用户已经领取的任务您将没有拒绝的权限。</li>
                        </ul>
                    </li>

                    <li style="font-size: 20px;list-style: none;color: red"> 4) 怎样防止他人重复做我的评论任务？
                        <ul>
                            <li style="font-size:18px;list-style: none;">答：首先，所有在野马网站中领取过您当前版本任务的用户，将无法再次领取您的任务。我们在任务大厅中已做筛选。如果您在外部交换过某些应用，您也可以在任务大厅中手动标记已经在QQ中做过的任务，这样，绑定了此应用的用户也无法领取您的任务。如果您的应用刚刚更新，您不需要担心会有人重复领取您的任务。</li>
                        </ul>
                    </li>
                    <li style="font-size: 20px;list-style: none;color: red"> 5）如果有人领取了我的任务，但一直没有提交结果怎么办？
                        <ul>
                            <li style="font-size:18px;list-style: none;">答：我们希望用户谨慎领取任务。如果您在晚上6点前领取任务，那么如果在第二天上午9点50分前依然没有提交，那么领取人既不能得到Y币，而且还将被扣罚等值的Y币。每天晚6点后领取任务，那么完成的截止时间为第三天上午9点50分。</li>
                        </ul>
                    </li>
                    <li style="font-size: 20px;list-style: none;color: red"> 6）我提交的结果对方一直不审核怎么办？
                        <ul>
                            <li style="font-size:18px;list-style: none">答：每天上午10点，对于未审核的提交结果，我们都将默认通过。Y币将立马发放到领取人的账户中。</li>
                        </ul>
                    </li>


                </ol>
            </section>




            <!--<div style="clear:both"></div>-->
        </hgroup>
    </main>

</div>
<th-footer>

</th-footer>
<script src="/javascripts/cookieHelper.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>