<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>野马运营</title>
    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/userProtocol.min.css">



    <!--网站内部js-->
    <script src="/javascripts/userProtocol.min.js"></script>
    <script src="/javascripts/indexApp.min.js"></script>

</head>
<body ng-app="yemaWebApp">
<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>

<div class="content">
    <main class="main">
        <div class="col-xs-12 service-agreement-title">
            <h1 class="text-center ">野马Y币交易手册</h1>

        </div>
        <hgroup class="service-agreement-detials">
            <section>
                <strong>一、Y币用途</strong>
                <ol>
                    <li>  您的Y币可以用来在野马中发布任务，任务类型包含评论任务或下载任务。任务的提交结果将以截图的形式提交。</li>

                </ol>
            </section>

            <section>
                <strong>二、Y币来源</strong>
                <ol class=" ">
                    <li>  新注册用户将获得一定数量的Y币。用户还可以到任务大厅中领取完成其他用户发布的任务赚取Y币。

                    </li>
                </ol>
            </section>


            <section>
                <strong>三、交易细则</strong>
                <ol>
                    <li>您可在“发布任务”中您可以编辑你的任务需求，发布成功后，任务所需要的Y币将自动从您的Y币账户中转移到冻结账户中。</li>
                    <li>如果您的任务没有被认领完，您可以随时撤销剩余的任务,多余Y币将退回到您的Y币账户。</li>
                    <li>您可在“任务大厅”中领取别人发布的任务，并可以认领多条。</li>
                    <li>建议谨慎领取任务，如果领取后未在截至时间前完成，我们将从您本身的账户中扣罚您1倍Y币。</li>
                    <li>领取的任务将收集到“我的领取”中，您可以在此界面提交任务结果，等待任务发布者审核。任务发布者每当确认接收了你的1条任务结果，您将立刻获得该条任务结果的Y币。</li>
                    <li>如果任务发布者拒绝了您的任务结果，且在次日上午10点前您没有重新提交结果，您将不会获得此条任务的Y币。
                    </li>
                    <li>如果您的Y币账户由于您的错误操作为负（比如您领取了任务但没有完成），请联系我们的客服。 </li>

                </ol>
            </section>



            <!--<div style="clear:both"></div>-->
        </hgroup>
    </main>

</div>
<th-footer>

</th-footer>
<script src="/javascripts/cookieHelper.min.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>