<!doctype html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#19B5FE">
    <link rel="icon" href="favicon.ico">

    <title>野马运营 - APP运营工具丨应用推广,换评,换量平台丨专业ASO优化丨APP推广榜单优化丨手游推广,试玩丨试客,私单,App store,冲榜,刷榜</title>

    <meta name="keywords" content="app运营工具,app运营菜鸟,鸟哥笔记aso,免费aso优化,ios换评,苹果榜单,app推广,手游推广,应用推广,ios榜单,关键词覆盖,关键词优化,排名优化,积分墙,钱咖,应用试客,app推广,鼠宝,粉咖,钱小咖,app推广公司"/>
    <meta name="description" content="野马是App运营者的首选，你可以进行高效率换评，免费提高给你ASO优化建议，还可以直接购买App好评低至2.4元/条，下载激活2元/条"/>


    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/vendor/hover/hover-min.css">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--semantic ui css-->
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <!--js 和 dialog 冲突-->
    <script src="/semantic/dist/semantic.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/index.min.css">

    <script src="/javascripts/vendor/scrollreveal.min.js"></script>


    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/indexApp.js"></script>


</head>


<body ng-app="yemaWebApp"  style="padding: 0px">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">更新您的浏览器</a> 从而获得更好的体验.</p>
<![endif]-->



<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>





<div class="col-xs-12"  id="pageone" style="
         background-image: url(/images/index/home_one.jpg);
           background-size: cover;padding-top: 150px">
    <div class='fly'  style="margin:auto; background: rgba(0, 0, 0, 0.3);width:620px;">

        <p class="pageone_p" >
               换评2.0&nbsp&nbsp&nbsp震撼内测
        </p>
        <button  class=" hvr-float-shadow pageone_button" >
               <a href="/doTask"  class="start" style="color: white">Start&nbsp&nbspNow</a>
        </button>
    </div>
</div>



<div  class="col-xs-12"  id="pagethree" style="background-image: url(/images/index/home_three.jpg);background-size: cover;">
    <div class="row">
      <div class="col-lg-6 col-xs-6" style=" text-align:right;padding-right: 10%;">
          <button    class="hvr-float-shadow pagethree_button"> 传统</button>
          <p style="color: #828282;" class="fly_one pagethree_p">换评耗费<span style="color: #b3b3b3">6小时</span></p>
          <p style="color: #828282" class="fly_one pagethree_p2">繁琐操作</p>
          <p style="font-size: 20px;color:#b3b3b3 ">
              <span >沟通换评 &nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span > 过滤换评 &nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span >寻找换评</span>
          </p>
          <p class="p_content" >多个QQ传PC任务图</p>
          <p class="p_content">整理任务图</p>
          <p class="p_content">检查他人任务图</p>
      </div>
      <div class="col-lg-5 col-xs-5 col-lg-offset-1 col-xs-offset-1" style=" text-align:left;">
          <button   class="hvr-float-shadow yema">野马</button>
          <p  class="fly_one pagethree_p">15分钟    <span style="color: #FFFFFF">搞定换评</span></p>
          <p class="fly_one pagethree_p2">简单便捷</p>
          <p  class="yema_p">可视化换评</p>
          <p  class="yema_p">自动整理归纳</p>
          <p class="yema_p">自动智能过滤</p>
      </div>
  </div>
</div>
<div  class="col-xs-12" id="pagetwo" style="background-image: url(/images/index/home_two.jpg);background-size: cover;">
    <div class="foo" id="chocolate">
        <p  class="flyleft" >释放你的换评时间</p>
        <p class="flyleft pagetwo_p">做真正的运营</p>
        <hr class="flyright"style="margin-left:15%;border:1px solid  #ffffff;width: 100px">
        <ul  class="pagetwo_ul" >
            <li class="flyright" >躲开QQ的N个窗口</li>
            <li class="flyright">扔掉你的Excel表</li>
            <li  class="flyright">逃离繁琐的图片整理</li>
        </ul>
    </div>
    <ul>
        <li style="float: left;margin-left:12%;margin-top: 40px;list-style: none">
            <a href="" style="display: inline-block;" data-toggle="modal" data-target="#releaseTaskVideo">
                <img src="images/index/radio.png" alt="" class="task_img" >
                <span  class="task" >发布任务</span>
            </a>
        </li>
        <li style="float: left;margin-left:88px;margin-top: 40px;list-style: none">
            <a href="" style="display: inline-block" data-toggle="modal" data-target="#getTaskVideo">
                <img src="images/index/radio.png" alt="" >
                <span class="task">领取任务</span>
            </a>
        </li>
    </ul>
</div>




 <div  class="col-xs-12" id="pagefour">
      <div  class="pagefour_div" >
       <p  class="pagefour_p" >他们正在用</p>
       <p class="pagefour_p2">专业运营的首选</p>
       <div   class="img_one">
           <img src="images/index/1.png" alt=""  class="img_1" >
           <img src="images/index/2.jpg" alt=""class="img_1" >
           <img src="images/index/3.png" alt="" class="img_1">
           <img src="images/index/4.png" alt="" class="img_1">
           <img src="images/index/5.png" alt="" class="img_2">

      </div>
      <div  class="img_two" >
        <img src="images/index/6.png" alt=""class="img_1" >
        <img src="images/index/7.jpg" alt="" class="img_1">
        <img src="images/index/8.png" alt="" class="img_1">
        <img src="images/index/9.jpg" alt="" class="img_1">
        <img src="images/index/10.png" alt="" class="img_2">
      </div>

   </div>
 </div>

<div  class="footer col-lg-12 col-xs-12 hidden-xs" style="height:264px;background-color: #1c1f20;width: 100%">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2 col-xs-3 col-xs-offset-2" style="margin-left:120px">
            <img src="/images/home/logo1.png" alt=""style="margin-top: 30px">
            <p style="margin-top: 16px;font-size: 13px;color: #a1a6ac">
                <span><a href="/guide" style="color: #a1a6ac">新手引导</a></span>
                <span style="margin-left: 14px;">|</span>
                <span><a href="/contactUs" style="color: #a1a6ac">联系我们</a></span>
                <span style="margin-left: 14px;">|</span>
                <span><a href="/userProtocol"style="color: #a1a6ac">服务协议</a></span>
            </p>

            <p style="margin-top: 28px;font-size: 16px;color: #d0d3d8">商务合作: contact@33day.net</p>
            <p style="margin-top: 16px;font-size: 16px;color: #d0d3d8">建议反馈: help@33day.net</p>
        </div>
        <div class="col-lg-4"style="margin-left: 50px">
            <p style="margin-top: 30px;font-size: 18px;color: #FFFFFF;">关于我们</p>
            <p style="font-size: 13px;color: #d0d3d8">野马是一个为移动互联网中小型企业提供APP资源置换的</p>
            <p style="font-size: 13px;color: #d0d3d8">平台型工具。我们提供苹果官方APPstore的数据,并希望</p>
            <p style="font-size: 13px;color: #d0d3d8">通过我们的平台,可以帮助更多APP开发团队更加高效的</p>
            <p style="font-size: 13px;color: #d0d3d8">推广APP。</p>
        </div>
        <div class="col-lg-3" style="padding-left:70px">
            <img src="/images/home/code.jpg" alt="" style="width: 100px;margin-left: 20px;height:100px;margin-top:38px;border: 1px solid white;">
            <p style="color: #ffffff;margin-top: 20px;">扫码关注微信公众平台</p>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-7 col-lg-offset-3" style="font-size: 16px;color: #d0d3d8;margin-top: 40px;left:0px;">
            @2015-2016 yema.leanapp.cn,上熙联合科技有限公司,All Right Reserved
            <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" style="color: white;" target="_blank">苏ICP备16039262号</a>
        </div>
    </div>
</div> <!--footer标注-->


<div class="modal fade" tabindex="-1" role="dialog" id="releaseTaskVideo" style="text-align: center;margin-top: 60px; padding:0">

    <video src="http://ac-rbmsnntf.clouddn.com/bc69b57b7f607235.mp4" controls="controls" preload style="width:960px;height:500px">
        您的浏览器不支持 video 标签。
    </video>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="getTaskVideo" style="text-align: center;margin-top: 60px; padding:0">

    <video src="http://ac-rbmsnntf.clouddn.com/66be21f9e807c500.mp4" controls="controls" preload style="width:960px;height:500px">
        您的浏览器不支持 video 标签。
    </video>
</div>


<!--</div> &lt;!&ndash;footer标注&ndash;&gt;-->


<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77354947-1', 'auto');
    ga('send', 'pageview');

</script>


<!--<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>-->

<script>
    window.sr = ScrollReveal();
    var fooReveal = {

        delay    : 200,
        duration : 600,
        distance : '100px',
        reset: true
    };


    sr.reveal('.fly', fooReveal);



    var flyleft = {
        delay    : 200,
        distance : '20px',
        easing   : 'ease-in-out',
        rotate   : { x: 10},
        scale    : 0.9,
        reset: true

    };

    sr.reveal('.flyleft', flyleft);



    var flyright = {
        delay :400,
        distance : '20px',
        easing   : 'linear',
        rotate: { x: 10},
        scale    : 0.9,
        opacity: 0.5,
        reset: true

    };

    sr.reveal('.flyright', flyright);


    var fly_one = {
        delay    : 200,
        distance : '20px',
        linear   : '',
//        rotate: { x: 10, y: 5, z: 10 },
        scale    : 0.9,
        opacity: 0.5,
        reset: true

    };

    sr.reveal('.fly_one', fly_one);

    var img_one = {
        delay    : 200,
        distance : '30px',
        linear   : '',
//        rotate: { z: -10,},
        scale    : 0.9,
        opacity: 0.5,
        reset: true

    };

    sr.reveal('.img_one', img_one);
    var img_two = {
        delay    : 400,
        distance : '10px',
        linear   : '',
//        rotate: { z: 10,},
        scale    : 0.9,
        opacity: 0.5,
        reset: true

    };
    sr.reveal('.img_two', img_two);



</script>


<script src="/javascripts/cookieHelper.js"></script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>

</body>

</html>
