
<!--商务合作-->
<ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">商务合作</div>

</ion-header-bar>

<ion-view style="margin-top: 50px">
    <ion-content>
        <div class=" item-body" style="text-align: center;">
            <img class="full-image" src="images/xiaoma/图层-2.png" style="width: 170px;height: 170px;">

            <p style="margin-top: 26px;font-size: 20px;color: #666666;font-family: PingFang-SC-Bold">
                如有合作意向
            </p>

            <p style="margin-top: 10px;color: #B3B3B3;font-size: 15px">
                请识别图中二维码添加QQ
            </p>

            <p style="margin-top: 24px;color: #333333;font-size: 16px">
                QQ：719480449
            </p>
        </div>
    </ion-content>

</ion-view>