<!--高额任务界面-->
<ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">高额任务</div>
    <button class="button button-icon" onclick="location.reload()">
        <img src="images/xiaoma/shape-1.png" style="width: 20px;height: 20px;margin-right: 8px;margin-top: -2px">
    </button>

</ion-header-bar>

<ion-view>
    <ion-view style="margin-top: 15px;background-color: #F5F5F5">
        <ion-content style="">
            <div class="list">
                <div class="item item-avatar" style="height: 66px" ui-sref="highTaskDetail">
                    <img src="/images/xiaoma/rectangle20.png" style="width: 50px;height: 50px;border-radius: 8px">
                    <p style="margin-top: -5px">
                    <p class="quickTask-A">涨乐财富通（活动版）</p>
                    <span style="margin-top: 3px">
                        <span class="item-A">免费</span>
                        <span class="item-A">证券开户</span>
                    </span>
                    <span class="item-note" style="margin-top: -20px;margin-right: 10px;color: #F43446;font-size: 10px">
                        + <span style="font-size: 25px">30.00</span>元
                    </span>
                    </p>
                </div>

                <div class="item item-avatar" style="height: 66px">
                    <img src="/images/xiaoma/rectangle20.png" style="width: 50px;height: 50px;border-radius: 8px">
                    <p style="margin-top: -5px">
                    <p class="quickTask-A">小花钱包</p>
                    <span style="margin-top: 3px">
                        <span class="item-A">免费</span>
                        <span class="item-A">金融开户</span>
                    </span>
                    <span class="item-note" style="margin-top: -20px;margin-right: 10px;color: #F43446;font-size: 10px">
                        + <span style="font-size: 25px">25.00</span>元
                    </span>
                    </p>
                </div>

                <!--每天已经完成的任务,显示灰色-->
                <div class="item item-avatar" style="height: 66px;margin-top: 15px">
                    <img src="/images/xiaoma/rectangle20.png" class="gray" style="width: 50px;height: 50px;border-radius: 8px;">
                    <p style="margin-top: -5px">
                    <p class="quickTask-A" style="color: #ADADAD">腾讯理财通</p>
                    <span style="margin-top: 3px">
                        <span class="item-B">领取红包</span>
                    </span>
                    <span class="item-note" style="margin-top: -13px;margin-right: 10px;font-size: 16px">
                        已完成
                    </span>
                    </p>
                </div>
            </div>

        </ion-content>
    </ion-view>
</ion-view>