<!--收徒攻略-->
<ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">收徒攻略</div>

</ion-header-bar>

<ion-view>
    <ion-content>
        <img src="images/xiaoma/组-8.png" style="width: 100%">
        <div class="item-body comment-a">
            <p class="">
                <span class="title-a">第一招：一劳永逸</span>
                <span style="margin-left: 10px">
                    <button class="button-clear" style="background-color: #f55d64;color: #ffffff;border-radius: 4px;font-size: 12px" disabled="disabled">推荐</button></span>
            </p>
            <p>1. 长按保存带二维码图片</p>
            <p style="margin-top: -10px">2. 打开微信点击<span style="color: #E55E64">【我】—【设置】—【通用】—【功能】—【群发助手】—【开始群发】</span></p>
            <p style="margin-top: -10px">3. 选择受邀好友，发送二维码给他们，即可躺着收钱</p>
            <p style="margin-top: -10px">4. 隔段时间，再尝试一次，效果更佳</p>

            <hr style="border: 1px dashed">

            <p class="title-a">第二招：拉帮结派</p>
            <p>1. 通过分享控件，把专属邀请内容分享给好友</p>
            <p style="margin-top: -10px">2. 发送内容前，可告诉好友赚钱的感受，如：</p>
            <li>我玩了3天赚得了50块</li>
            <li>新用户即可获得3元现金</li>
            <li>玩一个应用就可获得1-3元</li>
            <p style="margin-top: 6px">好友如留言，抓住机会多介绍，即收得徒</p>

            <hr style="border: 1px dashed">

            <p class="title-a">第三招：扩大地盘</p>
            <p>1. 准备好你的邀请二维码，提现截图</p>
            <p style="margin-top: -10px">2. 准备一篇诚意十足的赚钱心得，多写几点赚钱的好处</p>
            <p style="margin-top: -10px">3. 通过贴吧、论坛、微博评论等用户流量大的地方发布</p>
            <p style="margin-top: -10px">4. 用户看到你的介绍，扫码成为你的徒弟</p>
        </div>
    </ion-content>
</ion-view>