<ion-view view-title="游戏说明">

    <ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
        <div class="h1 title" style="font-size: 16px;">游戏说明</div>
    </ion-header-bar>

    <ion-content style="background: #ec5858;">
        <ol style="margin:20.5px 30px 20.5px 30px">
            <li>
                <h1 style="font-size: 6vw; color: #ffeda3; font-weight: bold">1.什么是必中红包</h1>
                <p style="font-size: 4.5vw; color: #ffffff; font-weight: bold">
                    必中红包是小马零花钱设计的一种夺宝小游戏.
                    当你的余额未到最低提现金额或者暂时不想提现时,您可以使用余额投放到您的心仪的数字上,每天固定<span style="color: #ffe762">晚上6点</span>开奖.押宝中奖号码的小马用户均分奖池.
                </p>
            </li>
            <li>
                <h1 style="font-size: 6vw; color: #ffeda3; font-weight: bold; margin-top: 25.5px">2.押宝规则</h1>
                <ol style="font-size: 4.5vw; color: #ffffff; font-weight: bold">
                    <li>
                        <p>1 每天(18:00-次日17:00)可押宝一次,一个数字;<span style="color: #ffe762">押宝数量不限,1注1元.</span></p>
                    </li>
                    <li>
                        <p>2 每天18:00开奖,开奖后下一轮游戏自动开启</p>
                    </li>
                    <li>
                        <p>3 中奖金额将自动注入到账户的余额中,可自由提现或充值话费.</p>
                    </li>
                    <li>
                        <p>4 每天的17:00-18:00之间为开奖时间,无法押宝.</p>
                    </li>
                    <li>
                        <p>5 游戏的最终解释权归小马所有.</p>
                    </li>
                </ol>
            </li>
        </ol>
    </ion-content>
</ion-view>