<ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">提现</div>

</ion-header-bar>

<ion-view>
    <ion-content style="background-color: #F5F5F5;" >

        <!--虚线框-->
        <div class="dashed" style="height: auto;text-align: center">
            <h4 style="color: red;font-size: 16px;padding: 12px 6px">&nbsp;提现到账需要1~2个工作日,请您耐心等待</h4>
        </div>

        <div class="list" style="margin-top: 12px">
            <div class="item item-icon-left item-icon-right">
                <div class="" ui-sref="tab-PrepaidPhone">
                    <a class="" style="margin-left: -40px;font-size: 4.2vw;color: #666666">
                        <img src="/images/xiaoma/phone.png" style="width: 35px;height: 44px">
                        手机充值
                        <i class="ion-ios-arrow-right" style="color:#DDDDDD;"></i>
                    </a>
                </div>

                <hr style="width: 130%">

                <div class="" ui-sref="aliPay">
                    <a class="" style="margin-left: -40px;font-size: 4.2vw;color: #666666">
                        <img src="/images/xiaoma/payTreasure.png" style="width: 35px;height: 44px">
                        支付宝提现
                        <i class="ion-ios-arrow-right" style="color:#DDDDDD"></i>
                    </a>
                </div>

                <hr style="width: 130%">

                <div class="">
                    <a class="" style="margin-left: -40px;font-size: 4.2vw;color: #666666">
                        <img src="/images/xiaoma/weChat.png" style="width: 35px;height: 44px">
                        微信提现（即将开放）
                        <i class="ion-ios-arrow-right" style="color:#DDDDDD"></i>
                    </a>
                </div>

            </div>
        </div>

    </ion-content>

</ion-view>
