<!--新手任务-->
<ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">新手任务</div>
    <button class="button button-icon" onclick="location.reload()">
        <img src="images/xiaoma/shape-1.png" style="width: 20px;height: 20px;margin-right: 8px;margin-top: -2px">
    </button>

</ion-header-bar>

<ion-view style="margin-top: 20px;background-color: #f5f5f5">
    <ion-content>
        <div class="list">
            <div class="item item-avatar" style="height: 66px" ui-sref="himselfApprentice">
                <img ng-src="/images/xiaoma/rectangle20.png" style="width: 28.8vw;height: 28.8vw;border-radius: 8px;border: 1px solid #E5E4E3">
                <p style="margin-top: -5px">
                <p class="quickTask-A">邀请好友</p>
                    <span style="margin-top: 3px">
                        <span class="item-A">超高奖励</span>
                        <span class="item-A">上不封顶</span>
                    </span>
                    <span class="item-note" style="margin-top: -20px;margin-right: 10px;color: #F43446;font-size: 10px">
                        + <span style="font-size: 25px;font-weight: 500">10</span>元
                    </span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>