<!--客服中心-->
<ion-header-bar class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">客服中心</div>

</ion-header-bar>

<ion-view style="margin-top: 100px">
    <div class=" item-body" style="text-align: center;">
        <img class="full-image" src="images/xiaoma/icon1.png" style="width: 65px;height: 65px;border-radius: 10px">

        <div style="margin-top: 15px;font-size: 16px;color: #666666;font-family: PingFang-SC-Medium">
            小马零花钱
        </div>

        <div style="margin-top: 9px;font-size: 12px;color: #666666">
            V1.0
        </div>

        <div style="margin-top: 27px;color: #5E5E5E;font-size: 16px">
            客服QQ：2449775006
            <p style="margin-top: 2px;">官方QQ群：384309058</p>
        </div>

    </div>

</ion-view>
<ion-footer-bar align-title="center" style="margin-bottom: 10px;">
    <h6 class="title" style="color: #B3B3B3;font-size: 12px">Copyright © 2017 小马零钱包</h6>
</ion-footer-bar>