
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=320, user-scalable=0, minimal-ui"/>
    <meta content="telephone=no" name="format-detection" />
    <meta name="Keywords" content="小马,小马官网,小马入口,小马网页版,小马助手,小马钥匙,手机赚钱,ASO优化,iOS榜单,App推广,App试玩"/>

    <title>收徒</title>

    <link rel="stylesheet" href="http://m.qkcdn.com/stylesheets/app.css?ver=201611071652"/>
    <link rel="apple-touch-icon" href="http://m.qkcdn.com/img/common/icon.png">
    <link rel="stylesheet" href="http://m.qkcdn.com/stylesheets/shoutu.css?ver=201611071652"/>
    <link rel="stylesheet" href="http://m.qkcdn.com/stylesheets/common/login.css?ver=201611071652"/>
    <script src="http://m.qkcdn.com/bower_components/modernizr/modernizr.js?ver=201611071652"></script>

</head>

<body>
<div id="ptr_container"></div>
<section class="gs-content-wrap">
    <div class="wx-prentice-top-bar">
        <div class="icon-header wx-prentice-top-bar-left">
            <img src="http://assets.qkcdn.com/images/f864ee76aa2dacd0535682aa3c8625c8.jpeg!200x200"/>
        </div>
        <div class="wx-prentice-top-bar-right">
            <p>我是嘿Mars （ID 36052901），我玩小马已经 <span>62</span> 天了，邀请你一起来赚钱！完全免费！</p>
        </div>
    </div>

    <div class="db-box" >

        <div class="">

            <div class="db-logo">
                <div class="db-logo-img">
                    <img src="http://m.qkcdn.com/img/dashboard/logo4.png?ver=201611071652"/>
                </div>
            </div>

            <div class="db-words">超低价格坐享傲娇尖货<br/>动动手指轻松免费赚钱</div>

            <div class="dashboard-android-btns">
                <a id="active-assistant-android" href="http://download.kagou.com/qianka?ref=" class="button"></a>
            </div>
        </div>

        <div style="background-color: #f3f6f8;">
            <div class="top3">
                <div class="top3-panel gs-clear">
                    <ul class="top3-list">
                        <li data-url="http://m.qianka.com/more/chengjidang/guest/20042437">
                            <div class="icon"><img src="/img/dashboard/1.png"></div>
                            <div class="record gs-clear">
                                <div class="avatar">
                                    <img src="http://zq-head-portrait.b0.upaiyun.com/0740fc6cd297d325e8493801cc35e5f4.jpg!200x200">
                                </div>
                                <div class="record-right">
                                    <h4>聚赚宝</h4>
                                    <p>共赚 <span>258,800.64</span> 元</p>
                                </div>
                            </div>
                        </li>
                        <li data-url="http://m.qianka.com/more/chengjidang/guest/21156901">
                            <div class="icon"><img src="/img/dashboard/2.png"></div>
                            <div class="record gs-clear">
                                <div class="avatar">
                                    <img src="http://zq-head-portrait.b0.upaiyun.com/0740fc6cd297d325e8493801cc35e5f4.jpg!200x200">
                                </div>
                                <div class="record-right">
                                    <h4>iTry</h4>
                                    <p>共赚 <span>185,953.44</span> 元</p>
                                </div>
                            </div>
                        </li>
                        <li data-url="http://m.qianka.com/more/chengjidang/guest/26445469">
                            <div class="icon"><img src="/img/dashboard/3.png"></div>
                            <div class="record gs-clear">
                                <div class="avatar">
                                    <img src="http://zq-head-portrait.b0.upaiyun.com/acdd092a7db61c18075c7bff8f2f1589.jpg!200x200">
                                </div>
                                <div class="record-right">
                                    <h4>黑店百地</h4>
                                    <p>共赚 <span>136,824.52</span> 元</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="top3-corner"></div>
            </div>

            <div class="tagcloud">
                <div class="tagcloud-panel gs-clear">
                    <img src="http://m.qkcdn.com/img/dashboard/tagcloud.png?ver=201611071652">
                </div>
            </div>

        </div>

        <div class="gs-news-window">
            <ul class="gs-news-board">
                <li  class="gs-clear" data-time="1483005913">
                    <img src="http://assets.qkcdn.com/images/a03fb4f0cf89d8a77b0a3071fcd6fcfa.jpeg!200x200" />
                    <div>
                        <h5>小程 &nbsp;<span>10 秒前</span></h5>
                        <p>完成：限时推荐《大街》 赚了 <span>1.5</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005910">
                    <img src="http://assets.qkcdn.com/images/11529207a95d0446abc3b0a489a2e98f.jpeg!200x200" />
                    <div>
                        <h5>菜菜1103 &nbsp;<span>13 秒前</span></h5>
                        <p>完成：限时推荐《WiFi万能钥匙》 赚了 <span>1.5</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005910">
                    <img src="http://assets.qkcdn.com/images/bb588b47f9c895543c5a1a6e66aa324a.jpeg!200x200" />
                    <div>
                        <h5>梦 &nbsp;<span>13 秒前</span></h5>
                        <p>完成：限时推荐《B612》 赚了 <span>1.5</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005909">
                    <img src="http://assets.qkcdn.com/images/810c1b7378d50f08ab8433ae28d9358c.jpeg!200x200" />
                    <div>
                        <h5>蓝色妖姬 &nbsp;<span>14 秒前</span></h5>
                        <p>完成：限时推荐《人人贷WE理财》 赚了 <span>1.5</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005909">
                    <img src="http://assets.qkcdn.com/images/ec53135b8a78987388e329773e740039.jpeg!200x200" />
                    <div>
                        <h5>学习tyt &nbsp;<span>14 秒前</span></h5>
                        <p>完成：限时推荐《葫芦兄弟（付费）》 赚了 <span>3</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005909">
                    <img src="http://assets.qkcdn.com/images/20ac901dcc5ead6024e22fc9c1ccbd48.jpeg!200x200" />
                    <div>
                        <h5>阿二 &nbsp;<span>14 秒前</span></h5>
                        <p>完成：限时推荐《聚力视频》 赚了 <span>1.5</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005908">
                    <img src="http://assets.qkcdn.com/images/1d46fd1ddf2c1fef4fbb0b6e59276c49.png!200x200" />
                    <div>
                        <h5>老王 &nbsp;<span>15 秒前</span></h5>
                        <p>完成：限时推荐《聚力视频》 赚了 <span>1.5</span> 元</p>
                    </div>
                </li>
                <li  class="gs-clear" data-time="1483005908">
                    <img src="http://assets.qkcdn.com/images/a81d8c3171d3f5770676554d48ecf059.png!200x200" />
                    <div>
                        <h5>毛毛 &nbsp;<span>15 秒前</span></h5>
                        <p>完成：限时推荐《葫芦兄弟（付费）》 赚了 <span>3</span> 元</p>
                    </div>
                </li>
            </ul>
        </div>

        <li class="gs-clear gs-hidden" id="itemLi">
            <img src="http://m.qkcdn.com/img/common/avatar.jpg?ver=201611071652" />
            <div>
                <h5>Mydoo 大牛 &nbsp;<span>3 分钟前</span></h5>
                <p>完成：联盟任务《违章2014版本》 赚取 <span>1.24</span> 元</p>
            </div>
        </li>

    </div>


    <!------hidden------------------->
    <div class="gs-ui-open-with-safari gs-hidden"></div>
    <div class="gs-ui-open-with-chrome gs-hidden"></div>
    <div class="gs-ui-open-with-friends-ios gs-hidden"></div>




    <div class="gs-hidden install-board"  id="install-step-default">
        <div class="corp default">
            <img src="http://m.qkcdn.com/img/dashboard/close@2x.png?ver=201611071652" class="gs-modal-close"/>
            <p>有“钥匙”才能开启哦</p>
            <div class="db-button step-to-download step-to-download-first"><p>安装钥匙（新用户送3元）</p></div>
            <div class="db-button step-to-login step-to-login-first"><p>已安装钥匙点此登录</p></div>
        </div>
    </div>

    <div class="gs-hidden install-board"  id="install-step-download">
        <div class="corp download">
            <p>安装中...</p>
            <div class="process">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="gs-hidden install-board"  id="install-step-login">
        <div class="corp login">
            <p>登录中...</p>
            <div class="process">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="gs-hidden install-board"  id="install-step-logining">
        <div class="corp logining">
            <p>进入中...</p>
        </div>
    </div>

    <div class="gs-hidden install-board"  id="install-step-gologin">
        <div class="corp gologin">
            <div class="db-button step-to-login step-to-login-reload"><p>立即登录</p></div>
        </div>
    </div>

    <div class="gs-hidden install-board install-board-with-close"  id="install-step-goopen">
        <div class="corner"></div>
        <div style="text-align: center;padding: 15px 0">
            <img width="230" height="295" src="http://m.qkcdn.com/img/release/dashboard-installed-alert@3x.png?ver=201611071652" alt=""/>
        </div>
    </div>

    <div class="gs-hidden install-steps"  id="install-step-goopen-ios9">
        <div class="corner"></div>
        <div id='slider' class='swipe'>
            <div class='swipe-wrap'>
                <div><img src="http://m.qkcdn.com/img/login/step1@2x.jpg?ver=201611071652"></div>
                <div><img src="http://m.qkcdn.com/img/login/step2@2x.jpg?ver=201611071652"></div>
                <div><img src="http://m.qkcdn.com/img/login/step3@2x.jpg?ver=201611071652"></div>
                <div><img src="http://m.qkcdn.com/img/login/step4@2x.jpg?ver=201611071652"></div>
                <div><img src="http://m.qkcdn.com/img/login/step5@2x.jpg?ver=201611071652"></div>
                <div><img src="http://m.qkcdn.com/img/release/dashboard-installed-alert@3x.png?ver=201611071652"></div>
            </div>
        </div>
        <ol>
            <li class="active"><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li><span>4</span></li>
            <li><span>5</span></li>
            <li><span>6</span></li>
        </ol>
    </div>

    <div class="gs-hidden install-board"  id="install-step-reinstall" style="background-color: #ffffff">
        <div class="corp reinstall">
            <img src="http://m.qkcdn.com/img/dashboard/close@2x.png?ver=201611071652" class="gs-modal-close"/>
            <p>登录失败，未找到钥匙</p>
            <div class="img-body"><img src="http://m.qkcdn.com/img/dashboard/shuoming@2x.png?ver=201611071652"></div>
            <div class="db-button step-to-download"><p>重新安装钥匙</p></div>
            <div class="db-button step-to-login"><p>已安装，再次尝试登录</p></div>
        </div>
    </div>

    <a style="display:none" href="itms-services://?action=download-manifest&url=https://m.qianka.com/download/h5a-enterprise-faae54-0.1.plist" id='baidu-download'></a>
</section>
<script src="http://m.qkcdn.com/bower_components/jquery/dist/jquery.min.js?ver=201611071652"></script>
<script src="http://m.qkcdn.com/bower_components/foundation/js/foundation.min.js?ver=201611071652"></script>
<script src="http://m.qkcdn.com/bower_components/velocity/velocity.min.js?ver=201611071652"></script>
<script src="http://m.qkcdn.com/js/app.js?ver=201611071652"></script>





<script type="text/javascript" src="http://m.qkcdn.com/bower_components/Swipe/swipe.js?ver=201611071652" ></script>

<script>
    function toOpen() {
        $.GSModal.popup(getPopupViewName());

        setTimeout(function(){
            toClose();
        },8000);

    }

    function getPopupViewName() {
        return "install-step-goopen";
    }

    function toClose() {
        $.GSModal.close(getPopupViewName());
    }

    $(function(){
        $(".corner").click(function(){
            $.GSModal.close(getPopupViewName());
        });

        $('.step-to-download').click(function(){
            $(".ui-open-with-safari-qq").removeClass("gs-hidden");
            $.GSModal.close('install-step-default');
            $.GSModal.close('install-step-reinstall');
            $.GSModal.popup('install-step-download');

            //window.history.replaceState({},document.title,"/dashboard?step=downoad");
            //todo 记录安装点击
            $.get("http://m.qianka.com/dashboard/click",{},function(resp){});

            setTimeout(function(){

                window.location.href = 'itms-services://?action=download-manifest&url=https://m.qianka.com/download/h5a-enterprise-faae54-0.1.plist';
            },1000);
            setTimeout(function(){
                var loop = 0;
                var maxloop = 20;
                var process = setInterval(function(){
                    if(loop >= maxloop){
                        clearInterval(process);

                        //如果是升级页面，下载进度条完成后跳到dashboard页面

                        /**
                         * 没有成功
                         */
                        $.GSModal.close('install-step-download');
                        toOpen();

                        return ;
                    }

                    loop++;
                    //console.log("loop:"+loop);

                    var percent = parseFloat((loop / maxloop)*100);
                    //console.log("percent:"+percent);
                    $("#install-step-download > .download >.process >.bar").css("width",percent+'%');
                },50);
            },50);
        });

        $(".step-to-login").click(function(){
            $(".ui-open-with-safari-qq").removeClass("gs-hidden");

            $.GSModal.close('install-step-default');

            toOpen();
            return ;

        });


    });
</script>

<script src="/js/GSModal.js"></script>
<script src="http://m.qkcdn.com/js/GSNewsBoard.min.js?ver=201611071652"></script>
<script src="http://m.qkcdn.com/js/version_compare.js?ver=201611071652"></script>


<script>
    $(function() {


        var url = 'http://m.qianka.com/dashboard/ajax';
        $.GSNewsBoard.init({
            url : 'http://m.qianka.com/dashboard/ajax',
            lastId : 1323829,
            total : 8,
            current : 8    }).start();

        $('#active-assistant').click(function(){

            //$.GSModal.popup('install-step-default');
            $(".step-to-download-first").click();
        });

        $("#active-steps").click(function(){
            toOpen();
        });
        $("#active-login").click(function(){

            if($(this).hasClass("online")){
                $.GSModal.popup('install-step-logining');

                //$(this).removeClass("online");
                //$(this).addClass("login");

                ws.clearHandle();
                ws.bind("open", function () {
                    ws.send('login', {session_id: '769f928e6aebb570a2aac3d6aacdbb34149fccb0'}, function (data) {
                        if (data.code == 0) {
                            //登录成功 刷新页面
                            window.location.href="/";
                        } else {
                            GS_Alert(data.msg);
                            window.location.reload();
                        }
                    }, function () {
                        GS_Alert("请确认钥匙是否已经开启");
                        window.location.reload();
                    });
                });
                ws.start();
            }else if(!$(this).hasClass("login")){
                alert(offline_msg);
            }
        });

        $(".top3-list").on("click","li",function(){
            var link = $(this).data("url");
            if(link){
                //window.location.href = link;
            }
        });


    });
</script>


<img style='display:none; width:0px; height:0px;' src='http://c.cnzz.com/wapstat.php?siteid=1253533097&r=&rnd=1653745860' width='0' height='0'>
</body>
</html>
