<!--其他界面-->

<ion-header-bar  class="bar-dark" style="height: 48px;text-align: center">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" onclick="JavaScript:history.back()">
        </button>
    </div>
    <div class="h1 title" style="font-size: 18px;margin-top: 2px">其他</div>

</ion-header-bar>

<ion-view style="background-color: #f5f5f5;margin-top: 10px">

    <ion-content>
        <div class="list" style="margin-top: 12px" rj-close-back-drop>
            <div class="item item-icon-left item-icon-right">
                <div class="" ui-sref="customerServiceCenter">
                    <div class="" style="margin-left: -35px;font-size: 4.5vw;color: #666666;font-weight: 500">
                        <span>客服中心</span>
                        <i class="ion-ios-arrow-right" style="color:#DDDDDD;margin-top: -8px;font-size: 8vw"></i>
                    </div>
                </div>

                <hr style="width: 150%;margin-left: -35px">

                <div class="" ui-sref="businessCooperation">
                    <div class="" style="margin-left: -35px;font-size: 4.5vw;color: #666666;font-weight: 500">
                        <span>商务合作</span>
                        <i class="ion-ios-arrow-right" style="color:#DDDDDD;margin-top: -8px;font-size: 8vw"></i>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>

</ion-view>