<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>野马运营</title>
    <meta name="keywords" content="ASO优化,极速运营,换评,App Store榜单排名,中小企业,移动互联网"/>
    <meta name="description" content="野马运营是服务于中小移动互联网创业企业的网站,帮助你们的App做更好的ASO优化,评论等"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/javascripts/vendor/AngularJS/angular.min.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--第三方 CSS JS-->
    <link rel="stylesheet" href="../stylesheets/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/userProtocol.min.css">



    <!--网站内部js-->
    <script src="/javascripts/userProtocol.min.js"></script>
    <script src="/javascripts/indexApp.min.js"></script>

</head>
<body ng-app="yemaWebApp">
<div class="container" ng-controller="indexAppCtrl" >
    <!--导航-->
    <th-nav></th-nav>
</div>

<div class="content">
    <main class="main">
        <div class="col-xs-12 service-agreement-title">
            <h1 class="text-center ">野马服务协议<span class="service-agreement-title-release">v1.0</span></h1>

        </div>
        <hgroup class="service-agreement-detials">
            <section>
                <strong>一、总则</strong>
                <ol>
                    <li>为了保护网络信息安全，保障公民、法人和其他组织的合法权益，维护国家安全和社会公共利益，根据国家法律法规以及全国人大常委会的相关规定，北京星港联合科技有限公司（以下简称“野马”）制定并按照本协议提供网络服务。用户应当充分阅读并同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在注册过程中点击“同意”按钮即表示用户同意本协议所有条款，愿意接受本协议条款的约束。</li>
                    <li>除非特别标明，一切使用野马服务及野马参与服务的用户（包括使用试用版、免费测试版、Alpha版、Beta版，或注册使用正式版等各种方式），在一切使用野马服务及野马参与服务的时间内，均无条件受本协议（包括其后的修订内容，以下同）的约束。除非另有说明，试用版、免费测试版、Alpha版、Beta版用户完全适用本协议。</li>
                    <li>野马云保留在任何时候增加、删减或修改本协议条款的权利，且无需另行通知。用户在使用服务时应关注并遵守。</li>
                    <li>用户在使用野马提供的各项服务之前，应仔细阅读本协议。如果用户不同意本协议或野马对本协议的修改，可以主动取消并停止使用野马提供的服务；如果用户继续使用野马服务，则视为用户已经无条件接受本协议的全部内容。除非另有说明，试用版、免费测试版、Alpha版、Beta版完全遵守此项约束。</li>
                    <li>野马云享有并保留对本协议及一切服务协议（包括试用版、免费测试版、Alpha版、Beta版、正式版）的最终解释权。</li>
                </ol>
            </section>

            <section>
                <strong>二、用户账号</strong>
                <ol class=" ">
                    <li>申请和使用野马服务的用户应当是具备完全民事权利能力和完全民事行为能力的自然人。不具备前述主体资格的用户因使用野马提供的各项服务导致的一切后果应由其监护人承担，且野马对此不承担任何责任。对于不具备前述主体资格的用户，野马有权注销其帐户及删除其存储的静态文件，并向其监护人和账号初始注册人索偿。
                    </li>
                    <li>用户在本网站完成的申请程序并申请成功后即获得本协议约定服务用户名及密码。申请试用版、免费测试版、Alpha版、Beta版均被认定为注册。前述版本的目的在于让用户在一定时间内免费体验本协议约定服务从而在获得用户认可后达成合作及服务。</li>
                    <li>用户应提供完整、真实、准确和最新的个人资料。因注册信息不真实而导致的后果由用户本人承担，野马对此不负任何责任并有权暂停或终止该用户的账号。如用户信息提供有误导致野马遭受损失，野马保留追究其责任的权利。</li>
                    <li>野马有权获得和使用用户的账户信息，有权通过第三方验证用户的身份和资格，并取得用户使用本协议约定服务的相关资料。野马有权通过第三方获取用户资料。</li>
                    <li>用户帐号使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖账号。用户应自行保管其账号和密码。野马云在发现使用者并非帐号初始注册人时，无需通知即有权收回帐号而无需承担因此导致的责任。用户因帐号问题产生纠纷的，应当自行承担因此导致的一切损失，同时野马保留冻结其账号等追究前述行为人法律责任的权利。</li>
                    <li>如发生用户账号和密码遭到他人非法使用或其他任何涉及安全问题的情况，用户应当立即通知野马。但对于因黑客行为或用户的过错导致账号、密码被他人非法使用的情况，野马不承担任何责任。</li>



                </ol>
            </section>


            <section>
                <strong>三、用户权利义务</strong>
                <ol>
                    <li>在遵照本协议及国家法律法规前提下，用户有权使用野马服务，并有权按本协议规定在接受野马提供的服务时获得野马的技术支持、咨询等服务。服务内容详见www.widlehorse.com网站。</li>
                    <li>用户具有对于野马服务的知情权，包括服务变更的知情权和资费变更的知情权。但如果用户通过第三方进行操作，野马不具有提供变更信息，及提供数据、账户安全等义务。</li>
                    <li>用户在接受野云服务过程中有进行正当操作的义务，不得侵犯任何第三方的任何权利。如用户通过野马进行其他违法操作，造成第三方任何损失，或导致违反国家法律法规的情况。野马保留冻结或删除相关账户、终止服务、不予退还资费和不承担责任的权利，亦保留追究用户责任的权利。</li>
                    <li>用户应依照本协议进行个人及其他信息、数据的保密。</li>
                    <li>用户在合法、正常操作的前提下，具有自身知识产权、隐私权受到保护的权利。</li>
                    <li>用户应尊重野马及其第三方的知识产权和其他合法权利，并保证在发生侵犯上述权益的违法事件时尽力保护野马及其股东、雇员、合作伙伴等免于因该等事件受到影响或损失。如果用户侵犯野马合法权益时，野马保留冻结、删除相关账户、终止服务、不予退还资费和不承担责任的权利，亦保留追究用户责任的权利。
                    </li>
                    <li>用户不得进行任何扰乱侵犯野马网站及全部服务系统安全的行为。如用户进行了前述行为，野马保留冻结或删除相关账户、终止服务、不予退还资费和不承担责任的权利，亦保留追究用户责任的权利。</li>
                    <li>用户使用本协议约定服务时应遵从国家、地方法律法规、行业惯例和社会公共道德，不得利用野马提供的服务进行存储、发布、传播如下信息和内容：
                        <ul class="user-rights-obl" >
                            <li>(1) 违反国家法律法规政策的任何内容或信息；</li>
                            <li>(2) 违反国家规定的政治宣传和新闻信息；</li>
                            <li>(3) 涉及国家秘密和安全的信息；</li>
                            <li>(4) 封建迷信和淫秽、色情、下流的信息或教唆犯罪的信息；</li>
                            <li>(5) 带有博彩、抽奖或赌博类性质的游戏；</li>
                            <li>(6) 违反国家民族和宗教政策的信息；</li>
                            <li>(7) 防碍互联网运行安全的信息；</li>
                            <li>(8) 侵害他人合法权益的信息和其他有损于社会秩序、社会治安、公共道德的内容或信息。</li>

                        </ul>用户同时承诺不得为他人发布上述不符合国家规定和本协议约定服务条款约定的信息内容提供任何便利，包括但不限于设置URL、banner链接等。在用户违反上述约定时，野马保留冻结或删除相关账户、终止服务、不予退还资费和不承担责任的权利，亦保留追究用户责任的权利。因用户上述行为给野马造成损失的，野马有权向该用户追偿。
                    </li>
                </ol>
            </section>

            <section>
                <strong>四、野马权利义务</strong>
                <ol>
                    <li>野马有向任何符合本协议规定的用户无歧视地提供相应服务的义务，包括账号服务时间期限告知的义务，用户撤销服务时协助操作的义务等。</li>
                    <li>在正常情况下，野马有依照有关法律法规及协议对用户账户、数据等信息进行保密的权利和义务。</li>
                    <li>野马有权在任何时候不经通知为用户提供本服务的替换、修改、升级版本以及为替换、修改或升级收取费用。因业务发展需要，野马有权单方面对服务的部分功能效果进行改变或进行限制。所有用户对此表示理解并同意承担相关风险。</li>
                </ol>
            </section>

            <section>
                <strong>五、服务费用</strong>
                <ol>
                    <li>付费用户有义务按照本协议及付费合同进行缴款。如用户违约，用户有义务支付赔偿野马损失并配合野马进行有关操作。</li>
                    <li>在用户使用本协议约定服务时，野马有权依照相应的服务收费介绍、订单及相关协议向用户收取服务费用。野马拥有制订及调整服务费的权利，具体服务费用以用户使用本协议约定服务时页面上所列之收费方式公告或用户与野马达成的其他书面协议为准。</li>
                    <li>野马收取的服务费用不包含因用户及其他用户访问互联网或移动网络而产生的相关费用。无论本服务收费与否，用户均应自行承担因使用本服务而向包括网络运营商在内的第三方支付的相关费用，例如，互联网接入费、手机流量费、手机短信费等。</li>
                    <li>野马拥有制订及调整所有野马服务的服务费的权利，具体服务费用以用户使用本协议约定服务时页面上所列之收费方式公告或用户与野马达成的其他书面协议为准。野马有权根据实际情况随时调整收费标准。服务费用的调整均以野马官网公示为准，且对服务资费与服务内容保留最终解释权。</li>
                    <li>用户确认购买野马服务后，即表示用户与野马之间形成了服务关系，用户应支付野马基于该服务关系收取的所有费用。野马保留拒绝、撤回或中止该服务关系和不予退还有关费用的权利。</li>
                    <li>若用户没有按照约定付款，野马方保留终止服务及追责的权利。</li>
                </ol>
            </section>
            <section>
                <strong>六、知识产权</strong>
                <ol>
                    <li>本服务是由野马所有。本服务的一切版权、商标权、专利权、商业秘密等知识产权，以及与本服务相关的所有信息内容（包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、界面设计、版面框架、有关数据、印刷材料、或电子文档等）均受中华人民共和国著作权法、商标法、专利法、反不正当竞争法和相应的国际条约以及其他知识产权法律法规的保护。除涉及第三方授权的软件或技术外，野马云始终享有上述知识产权，并保留对任何侵权行为进行追责的权利。</li>
                    <li>未经野马书面同意，任何用户不得为任何营利性或非营利性的目的自行对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。如发生前述情况，野马保留向相关用户追究责任的权利。</li>
                    <li>用户使用野马服务过程中产生的应用数据属于用户，用户有权利复制、拷贝或导出，野马对该等数据负有保密义务。</li>
                </ol>
            </section>

            <section>
                <strong>七、免责声明</strong>
                <ol>
                    <li>用户确认其了解云试用版、免费测试版、Alpha版、Beta版或者其正式版本中标记为Beta版本的功能模块可能存在的功能缺陷或潜在风险，对于用户使用试用版、免费测试版、Alpha版、Beta版或者正式版本中标记为Beta版本的功能模块所遭受的任何损失或损害，野马云不承担任何责任。对于用户无偿或免费使用野马云服务导致的或与此相关的任何损失，野马云不承担责任。</li>
                    <li>野马没有义务预先审查用户发布的内容，但是有权随时决定内容是否合适和与法律法规及本条款相符；如果发现此类内容违反法律法规、本条款或在其他方面在在不适当的问题，或应党政司法机关要求或其指令，野马可随时并有绝对酌情权预先审查、转移、拒绝、修改及删除内容，而不需事先通知。</li>
                    <li>用户应当及时了解其所购买的服务的实时情况，野马可能会以电子邮件、短信、电话或网站告示等方式通知用户服务进展情况以及提示用户进行下一步的操作，但野马不保证用户能够收到或者及时收到该邮件、短信或电话等，且对此后果野马云不承担任何责任。因此，在服务过程中用户应当及时登陆到本网站查看和进行交易操作。因用户没有及时查看和对服务状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，野马云不负任何责任。</li>
                    <li>对由于用户向野马提供的联络方式有误以及用于接受野马邮件的电子邮箱、短信或电话等方式的安全性、稳定性不佳而导致的一切后果，用户应自行承担责任，包括但不限于因用户未能及时收到野马的相关通知而导致的后果和损失。</li>
                    <li>用户账号和密码遭到他人非法使用或发生其他任何安全问题；因黑客行为或用户的过错导致账号、密码被他人非法使用导致的账号安全问题野马方不承担任何责任。</li>
                    <li>在一切不可抗力的条件下（包括但不限于任何服务的终止、任何其他应用程序的操作或其故障可能会直接导致死亡、人身伤害或物理或环境损害等），概无野马软件和服务的责任，但野马有义务协助用户进行账号找回、账号删除等操作。</li>
                    <li>如用户进行违法违规操作，野马有义务依法协助司法机构或政府机构进行调查，并不因此对用户承担任何责任。</li>
                    <li>野马不保证其服务时时及始终处于可用状态。对于因下列状况无法正常运作导致的用户无法使用各项联网服务或其他服务的情况，野马不承担任何损害赔偿责任，该状况包括但不限于:
                        <ul class="disclaimer" >
                            <li>(1) 野马在系统停机维护期间；</li>
                            <li>(2) 电信设备出现故障不能进行数据传输的；</li>
                            <li>(3) 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成野马系统障碍不能执行业务的；</li>
                            <li>(4) 由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟；</li>
                            <li>(5) 用户自身不当操作导致服务不可用。</li>
                        </ul>

                    </li>


                </ol>
            </section>
            <section>
                <strong>八、责任范围及责任限制</strong>
                <ol>
                    <li>野马仅承担本协议中列明的义务与责任。</li>
                    <li>与野马有合作关系的组织或个人所提供的服务品质及内容由该组织或个人自行负责。</li>
                    <li>在法律允许的情况下，野马对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除野马对上述损失的责任。</li>
                    <li>除本协议另有规定外，在任何情况下，用户同意野马对本协议所承担的赔偿责任总额不超过向用户收取的当次服务费用总额。</li>
                </ol>
            </section>

            <!--<div style="clear:both"></div>-->
        </hgroup>
    </main>

</div>
<th-footer>

</th-footer>
<script src="/javascripts/cookieHelper.min.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260580187'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260580187' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>