.index{
    margin-left:10px;font-size: 18px
}

.task_img{
    display: inline-block;width: 32px;height: 32px;border: 1px solid #e0e0e0;
    border-radius: 4px;margin-left:15px
}
.task_name{
    font-size: 20px;color:#333333;margin-left: 20px

}
.task_date {
    font-size: 16px;
    color: #333333;
    position: absolute;
    right: 332px;
    padding-top: 4px;
}
.task_button{
    width: 60px;font-size: 18px;
    color: #333333;background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: absolute;right: 225px;
}
.task_button_iso{
    width: 60px;font-size: 18px;
    color: #333333;background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: absolute;right:115px;

}
.task_num{
    font-size: 18px;color: #333333;
    position: absolute;right: 25px;
}

.taskPerson{
    margin-left:12px;font-size: 18px;color: #999999;
}
.taskPhone{
    font-size: 18px;color: #666666;margin-left:5px;margin-right: 30px
}
.taskImg{
    display: inline-block;width: 32px;height: 32px;border: 1px solid #e0e0e0;
    border-radius: 4px;margin-right:10px
}
.getTask{
    font-size: 18px;color: #666666;
    position: absolute;margin-left: 413px;
}
/*.finish{*/

    /*font-size: 18px;color: #999999;position: absolute;right: 30px;*/
/*}*/
.icon1:hover{
    background:#d0d3d8;
}

.icon1:active{
    background:#d0d3d8;
}